:root {
    --color: #fd4;
    --dim-color: #224;
    --background-color: #112;
    --text-color: #d1d1d1;
}

@media not (display-mode: browser) {
    a {
        pointer-events: none;
    }
}

body {
    font-family: system-ui, -apple-system, "Adwaita Sans", Roboto, "Segoe UI", "Noto Sans", Cantarell, Verdana, Tahoma, "Liberation Sans", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    align-items: center;
    max-width: 40em;
    margin: 0 auto;
    padding: 1em;
}

button {
    background-color: var(--color);
    color: var(--background-color);
    font-family: inherit;
    display: inline-flex;
    align-items: center;
    margin-right: 0.5em;
    margin-top: 0.5em;
    border-radius: 2em;
    padding: 0.5em 1em;
    border: 0;
    gap: 8px;
}

img {
    aspect-ratio: 1 / 1;
    height: 32px;
    width: 32px;
}

h1, h2, h3, h4, h5, h6, a {
    color: var(--color);
}

h1, h2 {
    border-bottom: 2px dotted var(--dim-color);
}

footer {
    border-top: 2px dotted var(--dim-color);
    text-align: center;
    padding-top: 0.5em;
    margin-top: 2em;
}

input:invalid + div::after {
    content: "Too short length";
}

input:not([type=checkbox]) {
    font-family: inherit;
    background-color: var(--dim-color);
    color: var(--text-color);
    border-radius: 0.5em;
    padding: 0.5em;
    border: 0;
}

input[type=checkbox] {
    accent-color: var(--color);
}

button span, input {
    font-size: 1.2em;
}

.new-line .group > * {
    /* More space between checkboxes */
    margin-bottom: 8px;
}

.new-line input:not([type=checkbox]) {
    width: 60%;
}

.italic {
    font-style: italic;
}

.new-line {
    align-items: flex-start;
    flex-direction: column;
    display: flex;
}

.group {
    align-items: center;
    display: flex;
    gap: 8px;
}

.top-label {
    margin-bottom: 0.5em;
    font-weight: 700;
    margin-top: 1em;
}
